---
layout: default
title: Level 9
cat: level
lang: en
number: 9
---
<p id="goal"><b>Goal:</b>  Construct a circle with center C and radius congruent to segment AB.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
You unlocked a new tool: Compass! Go to <a href="/Level10/">Level 10</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "0 | 501 | 5 19 | 15 2 18 | 10 | 100001 | 8 9 4 3 | 100002 | 100003"// | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level9.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("targetcircle");
checksegment("targetsegment",0.3,-0.5);

if (drawn("targetsegment")){
	Command('progress = 50');
   }	
   
LevelCompleted(drawn("targetcircle"),2);

}
</script>
