---
layout: default
title: Level 32
cat: level
lang: en
number: 32

---
<p id="goal">
	<b>Goal:</b> Complete Euclid's Proposition 2: To place a straight line equal to a given straight line (segment) with one end at a given point.  Let A be the given point, and BC the given straight line (segment).<br><br>
	Euclid's approach is shown below.  To allow for other correct approaches, you must construct the dotted circle centered at A.  All correct solutions are on that circle.  
</p>

<p id="winningimg">
<img src="/img/Level32.png"/ >
</p>

<div id="hidden" style="display: none">
<p id="level">
<b>Excellent!</b> This construction and Level 1 together demonstrate that a (non-collapsing) compass is equivalent to the primitive tools.  Previously we accomplished the same thing through Levels 7, 8, and 9.
<br><br>
Can you prove, based on your construction, that AF = BC?

<!-- Then go to <a href="/Level29/">Level 29</a>! -->
</p>
</div>

<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "0 | 501 | 5 | 15 | 18 | 10 | 100001 | 40 41 42 | 27 28 6"; // | 9 | 4 | 3 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level32.ggb %}" ;
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("D1",0.3,-0.3);
checkobject("E1",0.3,-0.3);
checkobject("F1",0.3,-0.3);
checkobject("target1",0.3,-0.3);


checkdirection("ray1",0.3,-0.3);
checkdirection("ray2",0.3,-0.3);


if (drawn("D1") || drawn("E1") || drawn("F1")) {
	Command('progress = 50');
}

LevelCompleted(drawn("target1"),5);

}
</script>
