---
layout: default
title: Level 8
cat: level
lang: en
number: 8
---
<p id="goal"><b>Goal:</b> Construct a line segment with the same length and the same direction as line segment AB but beginning at C.
</p>

<script>
$(document).ready(function(){
  $("#button").click(function(){
    $("#hint").toggle();
  });
});
</script>
<p><span id="button"><b>Show hint: &nbsp;</b></span> <span style="display:none" id="hint"> Because the translate segment tool won't work when the target lies on the same line, first copy the segment away from the line.</span></p>


<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
<p><b>Note that tools are now grouped in the toolbar!</b> Click on a tool icon to see related tools.</p>
</p>
<div id="hidden" style="display: none">
<p id="level">
You enhanced your tool: Translate segment! <br><br>In the next level, you may use the enhanced tool, which allows you to translate a segment anywhere in the plane.  Go to <a href="/Level9/">Level 9</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "0 | 501 | 5 19 | 15 18 | 10 | 100001 | 8 9 4 3 | 100002"// | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level8.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("targetpoint",0.3,0.5);
checksegment("targetsegment",0.3,0.5);

if (drawn("targetpoint")){
	Command('progress = 50');
   }	
   
LevelCompleted(drawn("targetsegment"),2);

}
</script>
