---
layout: default
title: Dilation
lang: en
cat: level
number: 32
---
<p id="goal"><b>Goal:</b> Construct a dilation of point P about point O by the scale factor indicated
	by OQ'/OQ. 
</p>

<p id="winningimg">
<img src="/img/Level32.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
<b>Nice!</b>  Traces are turned on.  Drag point <b>P</b>, and observe how the construction generalizes to the whole plane.<br><br>
You have completed defining the important transformations for similarity and congruence!  
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
 	parameters.ggbBase64 = "{% base64 ggb/Level32.ggb %}" ;	
//	parameters.customToolBar = "0 | 1 501 | 5 19 | 15 2 18 | 10 53 | 100001 | 8 9 4 3 | 40 41 42 | 27 28 6";  // Added show, hide, delete
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}


checkobject("target1");
checkdirection("target1",0,-0.5);
checkobject("target2");
checkdirection("target2",0,-0.5);

if (drawn("target1") || drawn("target2")) {
	Command('progress = 50');
}

checkobject("target3",0,-0.5);
checkdirection("target3",0,-0.5);

if (drawn("target3")){
	Command('progress = 75')
}

checkobject("Pprime",0,-0.5);

LevelCompleted(drawn("Pprime"),4);
}
</script>
