---
layout: default
title: Level 23
cat: level
lang: en
number: 23
---
<p id="goal">
	<b>Goal:</b>Given two circles, construct an "outer" tangent to both circles.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>

<div id="hidden" style="display: none">
    <p id="level">
Go to <a href="/Level24/">Level 24</a>!
        </p>
    </div>

<script type="text/javascript">
	{% include parameters480p.js %}
	parameters.ggbBase64 = "{% base64 ggb/Level23.ggb %}" ;
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}


checkdirection("target3",0,0);
checkdirection("target4",0,0);

LevelCompleted(drawn("target3") || drawn("target4"),6);

}
</script>
