---
layout: default
title: Level 17
cat: level
lang: en
number: 17
---
<p id="goal"><b>Goal:</b>  Given a line, a line segment AB, and a point O, construct a circle with center O that intersects the given line and cuts off a segment of the same length as segment AB.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
Good work!  Go to <a href="/Level18/">Level 18</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
	parameters.ggbBase64 = "{% base64 ggb/Level17.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

 checkdirection("perpLine",0.1,1);
 checkobject("midAB",0.1,-0.2);
 checkobject("midChord",0.1,0.5);
 checkobject("onCirc1",0.1,-0.2);
 checkobject("onCirc2",0.1,-0.2);
 checkobject("target1");

 if(drawn("perpLine")) {
 	Command('progress = 20')
 }
 if(drawn("midChord")) {
 	Command('progress = 40')
 }
 if(drawn("midChord")&&drawn("midAB")) {
 	Command('progress = 50')
 }
  if(drawn("onCirc1")||drawn("onCirc2")) {
 	Command('progress = 70')
 }


LevelCompleted(drawn("target1"),4);
}
</script>
