---
layout: default
title: Level 24
cat: level
lang: en
number: 24
---
<p id="goal">
	<b>Goal:</b> Given two circles, construct an "inner" tangent to both circles.

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>

<div id="hidden" style="display: none">
    <p id="level">
Go to <a href="/Level25/">Level 25</a>!
        </p>
    </div>

<script type="text/javascript">
	{% include parameters480p.js %}
	parameters.ggbBase64 = "{% base64 ggb/Level24.ggb %}" ;
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}


checkdirection("tangentT",0,0);
checkdirection("tangentB",0,0);

LevelCompleted(drawn("tangentT") || drawn("tangentB"), 6);

}
</script>
