---
layout: default
title: Level 15
cat: level
lang: en
number: 15
---
<p id="goal"><b>Goal:</b>   Construct the incircle of the triangle. An incircle is a circle fully contained in a triangle and is tangent to all three sides.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
Go to <a href="/Level16/">Level 16</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "0 | 1 501 | 5 19 | 15 2 18 | 10 53 | 100001 | 8 9 4 3 | 40 41 42";
	parameters.ggbBase64 = "{% base64 ggb/Level15.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("incenter",0,0.5);
if (drawn("incenter")){
	Command('progress = 50');
}
checkobject("F1",0,0.5);
checkobject("F2",0,0.5);
checkobject("F3",0,0.5);
if (drawn("F2")||drawn("F2")||drawn("F3")){
	Command('progress = 75');
}
checkobject("target1");

LevelCompleted(drawn("target1"),4);
}
</script>
