---
layout: default
title: Reflection
lang: en
cat: level
number: 30
---
<p id="goal"><b>Goal:</b> Construct the reflection of point P across line AB. 
</p>

<p id="winningimg">
<img src="/img/Level30.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
<b>Way to go!</b>  Traces are turned on.  Drag point <b>P</b>, and observe how the construction generalizes to the whole plane.<br><br>
Then go to <a href="/Level31/">Rotation</a>! 
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
 	parameters.ggbBase64 = "{% base64 ggb/Level30.ggb %}" ;	
//	parameters.customToolBar = "0 | 1 501 | 5 19 | 15 2 18 | 10 53 | 100001 | 8 9 4 3 | 40 41 42 | 27 28 6";  // Added show, hide, delete
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("target1");

checkdirection("target1",0,-0.5);
if (drawn("target1")) {
	Command('progress = 40');
}

checkobject("circle1",0,-0.5);
if (drawn("circle1")){
	Command('progress = 80')
}

checkobject("Pprime",0,-0.5);

LevelCompleted(drawn("Pprime"),4);
}
</script>
