---
layout: default
title: Level 12
cat: level
lang: en
number: 12
---
<p id="goal"><b>Goal:</b>  Construct an angle at D on the given line equal to the given angle.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
Go to <a href="/Level13/">Level 13</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "501 | 5 19 | 15 18 | 10 | 100001 | 8 9 4 3 | 53" // | 100002 100003;
	parameters.ggbBase64 = "{% base64 ggb/Level12.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("side1a",0,0.5);
checkobject("side1b",0,0.5);
if (drawn("side1a")||drawn("side1b")){
	Command('progress = 25');
}
checkobject("side3a",0,0.5);
checkobject("side3b",0,0.5);
if (drawn("side3a")||drawn("side3b")){
	Command('progress = 50');
}
checkobject("target2a",0,0.5);
checkobject("target2b",0,0.5);
checkobject("target2c",0,0.5);
checkobject("target2d",0,0.5);

if (drawn("target2a")||drawn("target2b")||drawn("target2c")||drawn("target2d")){
	Command('progress = 75');
}

checkpointontarget("target3a",0,0.5);
checkpointontarget("target3b",0,0.5);
checkdirection("target3a",0,0);
checkdirection("target3b",0,0);

LevelCompleted(drawn("target3a")||drawn("target3b"),4);

}
</script>
