---
layout: default
title: Level 10
cat: level
lang: en
number: 10
---
<p id="goal"><b>Goal:</b>  Construct a new point E on the line segment CD such that CE has the same length as AB.
</p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png"/ >
</p>
<div id="hidden" style="display: none">
<p id="level">
Note that the compass tool allows you to translate and rotate a segment anywhere in the plane.  We no longer need the translate segment tool!<br><br>Go to <a href="/Level11/">Level 11</a>.
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "0 | 501 | 5 19 | 15 2 18 | 10 | 100001 | 8 9 4 3 | 53 | 100002";
	parameters.ggbBase64 = "{% base64 ggb/Level10.ggb %}" ;	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("targetpoint",0,0.5);
   
LevelCompleted(drawn("targetpoint"),1);

}
</script>
