---
layout: default
title: Level 1
cat: level
lang: en
number: 1
---
<p id="goal">
	<b>Goal:</b> Construct an equilateral triangle such that the segment AB is one of its sides.
</p>

<script>
$(document).ready(function(){
  $("#button").click(function(){
    $("#hint").toggle();
  });
});
</script>
<p><span id="button"><b>Show hint: &nbsp;</b></span> <span style="display:none" id="hint"> Don't randomly create new points.  Instead, create 2 circles with radius AB.  (And don't use the arrow tool yet.)</span></p>

<p id="winningimg">
<img src="/img/Level{{page.number}}.png">
</p>

<div id="hidden" style="display: none">
<p id="level" onclick="location.href='/Level2/';" style="cursor:pointer;">
You unlocked a new tool: Construct equilateral triangle! <br><br>
Use the arrow tool to move free points A and B and observe that the triangle remains equilateral.  Then go to <a href="/Level2/">Level 2</a>!
</p>
</div>
<script type="text/javascript">
	{% include parameters480p.js %}
    parameters.customToolBar = "0 | 501 | 5 | 15 | 18 | 10"; //| 100001 | 9 | 4 | 3 | 53";
	parameters.ggbBase64 = "{% base64 ggb/Level1.ggb %}" ;
	
</script>

<div id="applet_container">
</div>

<script type="text/javascript">
{% include testobjects.js %}

checkobject("circleleft",-0.4,0.3);
checkobject("circleright",-0.4,0.3);
checkobject("pointtop",-0.4,0.3);
checkobject("pointbottom",-0.4,-0.3);
checksegment("segmentLB",-1.1,0);
checksegment("segmentRB",0,0);
checksegment("segmentLT",-1.1,0);
checksegment("segmentRT",0,0);
	
if (drawn("pointtop") || drawn("pointbottom")) {  
	Command('progress = 33');
	}

if (drawn("segmentLT") || drawn("segmentLB") || drawn("segmentRB") ||  drawn("segmentRT")){
	Command('progress = 66');
   }

LevelCompleted((drawn("segmentLT") && drawn("segmentRT")) || (drawn("segmentLB") && drawn("segmentRB")),4);


}
</script>
