© 2014 Kasper Peulen. Created with <a href="https://www.geogebra.org/">GeoGebra</a>.


{% if page.number > 1 %}
<br><br>
Current records for this level:
<ul>
<li>using all tools: 
    <script>
        if (minlevel{{page.number}}==0){document.write("Not yet determined.");}
    else{document.write(minlevel{{page.number}});</script>
<li>using primitive tools only: 
    <script>
    if (minlevel{{page.number}}p==0){document.write("Not yet determined.");}
    else{document.write(minlevel{{page.number}}p);}
    </script>
<br>
If you have a new record, please send a screen shot to <a href="mailto:bfindell@gmail.com">Brad Findell</a>.
</ul>
{% endif %}
</p>

<p>This game is in development. Please report bugs to <a href="mailto:bfindell@gmail.com">Brad Findell</a>.</p>

<script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
}
</script>
<a href="javascript:toggleDiv('hiddencomments');">Click here</a> to show comments. Be aware that they may contain spoilers. <br>
<div id="hiddencomments" style="display: none">
				 <div style="max-width:800px; font-size:5pt;"id="disqus_thread"></div></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'euclidthegame'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>