© 2014 Kasper Peulen. Created with <a href="https://www.geogebra.org/">GeoGebra</a>.

{% if page.number > 1 %}
<br><br>
Current records for this level:
<ul>
<li>using all tools: 
    <script>
    if (minlevel{{page.number}}==0){document.write("Not yet determined.");}
    else{document.write(minlevel{{page.number}});}
    </script>
<li>using primitive tools only: 
    <script>
    if (minlevel{{page.number}}p==0){document.write("Not yet determined.");}
    else{document.write(minlevel{{page.number}}p);}
    </script>
<br>
</ul>

<p>If you have a new record, please send a screen shot to <a href="mailto:bfindell@gmail.com">Brad Findell</a>.
{% endif %}
</p>

<p>This game is in development. Please report bugs to <a href="mailto:bfindell@gmail.com">Brad Findell</a>.</p>

<script type="text/javascript">
function toggleDiv(divId) {
   $("#"+divId).toggle();
}
</script>
